<div>
  <h1>Angular 4 App</h1>
  <app-binding></app-binding>
  <app-todo></app-todo>
  <app-counter-app></app-counter-app>
  <app-header></app-header>
  <app-form></app-form>
  <!-- <app-child></app-child> -->
  <app-parent></app-parent>
  <app-resuse-component></app-resuse-component>
  <app-service></app-service>
  <app-api></app-api>
  <hr />
  <h1>Pass Data to child Component</h1>
  <select #selectedUser (change)="onUserChange(selectedUser.value)">
    <option value="Ram">Ram</option>
    <option value="Sham">Sham</option>
    <option value="Tom">Tom</option>
    <option value="Jerry">Jerry</option>
  </select>
  <app-user-to-child [user]="selectedUser.value"></app-user-to-child>
  <app-currency-converter />
</div>
<hr />

<hr />
<h1>If else| controlFlow</h1>
<button (click)="hide()">Hide</button>
<button (click)="show()">Show</button>
<button (click)="toggle()">ToggleShow</button>
@if(display){
<div style="width: 200px; height: 200px; background-color: brown"></div>
}
<hr />
<button (click)="toggleTwo()">
  {{ toggleDiv ? "show blue colour" : "show gold colour" }}
</button>
@if(toggleDiv){
<div style="width: 200px; height: 200px; background-color: gold"></div>
} @else{
<div style="width: 200px; height: 200px; background-color: blue"></div>
}
<hr />
<h1>Else if | control flow</h1>
<button (click)="hadleColor(1)">Red</button>
<button (click)="hadleColor(2)">Green</button>
<button (click)="hadleColor(3)">Blue</button>
<button (click)="hadleColor(4)">Gold</button>
<input
  type="text"
  (input)="hadleInput($event)"
  placeholder="Enter color Number"
/>
@if(color==1){
<div style="width: 200px; height: 200px; background-color: red"></div>
}@else if(color==2){
<div style="width: 200px; height: 200px; background-color: green"></div>
}@else if(color==3){
<div style="width: 200px; height: 200px; background-color: blue"></div>
}@else{
<div style="width: 200px; height: 200px; background-color: yellow"></div>
}

<hr />
<h1>Switch case in Angular 19</h1>
@switch(colors) { @case("red"){
<h1 style="width: 200px; height: 200px; background-color: red">Red color</h1>
} @case("green"){
<h1 style="width: 200px; height: 200px; background-color: green">
  Green color
</h1>
} @case("blue"){
<h1 style="width: 200px; height: 200px; background-color: blue">Blue color</h1>
} @case("gold"){
<h1 style="width: 200px; height: 200px; background-color: gold">Gold color</h1>
} @default{
<h1 style="width: 200px; height: 200px; background-color: yellow"></h1>
} }
<hr />
<h1>For loop in Angular 19</h1>
@for(user of users ; track user){
<h1>{{ user }}</h1>
}
<hr />
@for(student of students ; track student;let id=$index){
<h2>
  <span>{{ id + 1 }}</span>
  <span>{{ student.name }}</span>
  <span>{{ student.age }}</span>
  <span>{{ student.email }}</span>
  <button (click)="getName(student.name)">Get Name</button>
</h2>

}
<hr />
<h2>Signals in Angular</h2>
<!-- <button (click)="updateValue('dec')">Decreament</button>
<h2>{{ count1() }}</h2>
<button (click)="updateValue('inc')">Increament</button> -->

<!-- diectly change value  -->
<button (click)="count1.set(this.count1() - 1)">Decreament</button>
<h2>{{ count1() }}</h2>
<button (click)="count1.set(this.count1() + 1)">Increament</button>
<!-- <h2>{{ x }}</h2>
<button (click)="updateValue()">Update</button> -->
<hr />
<h2>Data Type OF Signal</h2>
<h2>{{ data() }}</h2>
<!-- <h2>{{ count2() }}</h2> -->
<button (click)="updateSignal()">Update</button>
<hr />
<h2>Computed Signal</h2>
<h2>{{ z() }}</h2>
<button (click)="showComputed()">Show Value</button>
<button (click)="updateComputed()">Update</button>
<hr />
<h2>Effect Angular</h2>
<h2>{{ count3() }}</h2>
<button (click)="userName.set('Shubham')">UpdateUser</button>

<button (click)="toggleValue()">Toggle</button>
@if(displayHeading ){
<h2 style="background-color: yellowgreen">Page Heading</h2>
}
<hr />
<h2>For Loop contextual Variable</h2>
@for(student of students;track student; let i= $index; let f=$first;let
l=$last){
<!-- @if(f || l){
<h3 style="background-color: green">
  This is our {{ i + 1 }} and name is {{ student }}
</h3>
}@else{
<h3>this is our {{ i + 1 }} user and name is {{ student }}</h3>
} -->

@if($odd){
<h3 style="background-color: chocolate">
  This is our {{ i }} and name is {{ student }}
</h3>
} @if($even){
<h3 style="background-color: blueviolet">
  This is our {{ i }} and name is {{ student }}
</h3>
<h3>Total Students: {{ $count }}</h3>
} }
<hr />

<hr />
<h2>Directive in Angular</h2>
<span class="fw-semibold text-decoration-underline">ngFor Directive</span>
<ul>
  <li *ngFor="let x of employee">
    {{ x }}
  </li>
</ul>
<ul>
  <li *ngFor="let employee of employeeData">
    {{ employee.name }} -{{ employee.age }}-{{ employee.email }}
  </li>
</ul>
<h2>Directive in Angular</h2>
<span class="fw-semibold text-decoration-underline mb-3">ngIf Directive</span>
<div *ngIf="login; else elseBlock">
  <a href="">logout</a>
</div>
<ng-template #elseBlock>
  <h1><a href="">login</a></h1>
</ng-template>
<div *ngIf="block == 0">
  <h1>Heading 0</h1>
</div>
<div *ngIf="block == 1">
  <h1>Heading 1</h1>
</div>
<div *ngIf="block == 3">
  <h1>Heading 3</h1>
</div>
<button (click)="updateBlock()">Update</button>
<hr />

<router-outlet></router-outlet>
