.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.bg-red {
  background-color: red;
}

.bg-black {
  background-color: black;
}
.bg-green {
  background-color: green;
}
.btn:hover {
  background-color: #45a049;
}
.count {
  font-size: 20px;
  color: #000;
  background: gray;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
